#
name: Build and publish RK3588 image

on:
  workflow_dispatch:
    inputs:
      dockerfile:
        description: 'Dockerfile name'
        required: false
        default: 'Dockerfile.rk'
        type: string
      tag:
        description: 'Docker image tag'
        required: false
        default: 'rk'
        type: string
      torch_whl:
        description: 'Optional torch wheel URL or path (leave empty to skip)'
        required: false
        default: ''
        type: string

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@68827325e0b33c7199eb31dd4e31fbe9023e06e3
        with:
          platforms: arm64

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce0616bb6a

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push RK3588 image
        uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
        with:
          context: .
          file: ./${{ github.event.inputs.dockerfile }}
          platforms: linux/arm64
          push: true
          build-args: |
            TORCH_WHL=${{ github.event.inputs.torch_whl }}
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.event.inputs.tag }}
          labels: ${{ steps.meta.outputs.labels }}
